.App {
   text-align: center;
   background-image: url("C:\Users\Usuario\Desktop\HENRY_FullStack\M2\rick_and_morty\src\components\background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

